[submodule "Dependencies/spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Dependencies/freetype"]
	path = Dependencies/freetype
	url = https://github.com/freetype/freetype.git
[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Dependencies/dlg"]
	path = Dependencies/dlg
	url = https://github.com/nyorain/dlg.git
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Dependencies/harfbuzz"]
	path = Dependencies/harfbuzz
	url = https://github.com/libsdl-org/harfbuzz.git
	branch = 8.1.1-SDL
